node_modules
.env
db.sqlite3
__pycache__/
*.py[cod]
*$py.class
.vscode/
.idea/
*/migrations/*
!*/migrations/__init__.py
*.log
.coverage
htmlcov/
.tox/
nosetests.xml
coverage.xml
build/
dist/
*.egg-info/
*.tmp
*.swp
*.swo
staticfiles/
media/